In [1]:
print{'name'}
name = 'Burak'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2690295143.py, line 1)

In [3]:
name = 'Burak'
print(name)

Burak

In [4]:
# 1 - print() normal parantez 
# print konumu yanlis, degisken tanimlandiktan sonra yazilmali
# tirnak isareti gerekli degil

In [6]:
# Iki tane variable uretiniz 
# Ogrencinin ders ismi,  
# ogreninin notu 
# ve birlikte yazdiriniz, 
# ornek sonuc: Ders: Math, Not: 95

lecture_name = 'Math'
exam_note = 95
print('Ders adi: ', lecture_name, ', Ogrenci Notu: ', exam_note)

Ders adi:  Math , Ogrenci Notu:  95

- 1 _name_1 = 'Melisa'
- 2 name_2 = 'Anna'
- 3 3_name = 'Yasin'
- 4 First_nAME = 'George'
- 5 name-4 = 'Ceylan'
- 6 5.name ='Ali'
- 7 firstName = 'Cenk'
- 8 name$6 = 'Selim'
- 9 first name = 'Belen'

In [ ]:
first name = 'Belen' # bosluk kullanilamaz

In [17]:
name$6 = 'Selim' # degisken isminde ozel isaretler kullanilamaz

SyntaxError: invalid syntax (1578602196.py, line 1)

In [15]:
firstName = 'Cenk'# camelCase kullanilabilir

In [7]:
_name_1 = 'Melisa'

In [9]:
_name_1 # alt tire basta kullanilabilir

'Melisa'

In [10]:
name_2 = 'Anna'

In [11]:
3_name = 'Yasin' # sayi ile baslamis calismaz

SyntaxError: invalid decimal literal (651379703.py, line 1)

In [12]:
First_nAME = 'George'

In [13]:
name-4 = 'Ceylan' # tire isareti degisken isminde kullanilamaz

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3025551184.py, line 1)

In [18]:
country = 'USA'
print(Country) # ERROR 
# Bu kod calisir mi?
# python case sensitive bir dildir

NameError: name 'Country' is not defined

In [19]:
fruit_1 ,fruit2 = 'Apple', 'Strawberry', 'Kiwi' #  calismaz

ValueError: too many values to unpack (expected 2)

In [26]:
deviceBrand = 'Asus'
deviceRam = 16.0
deviceProcessor = 'i7'
devicePrice = 30000
print(type(deviceBrand))
print(type(deviceRam))
print(type(deviceProcessor))
print(type(devicePrice))

<class 'str'>
<class 'float'>
<class 'str'>
<class 'int'>

# Type Conversion

## to str

In [28]:
num1 = 84 
type(num1)

int

In [29]:
str(num1) # tip degisimi basarili, su an string

'84'

In [32]:
type(num1) # orjinal degisken tipi degismez
# orjinal data tipini degistirmek icin atama yapmak gerekli

int

In [34]:
num1 = str(num1)
type(num1)

str

In [35]:
num1 # bu kodun ciktisi '84'  jupyter in ozelligidir.

'84'

In [36]:
print(num1)

84

In [37]:
num_2 = 7.35 
type(num_2)

float

In [38]:
str(num_2)

'7.35'

In [40]:
type(num_2)

float

In [42]:
num_2 = str(num_2)
type(num_2)

str

In [43]:
str(True)

'True'

In [44]:
# Herhangi bir data tipi stringe cevrilebilir

## to int

In [45]:
num_3 =  5.30
type(num_3)

float

In [46]:
int(num_3) # herhangi bir floati integera cevirdigimizde , noktadan sonraki kisim silinir, atilir

5

In [47]:
int(9.99)

9

In [48]:
int(1.10)

1

In [49]:
num1 = 86 
print(num1)

86

In [50]:
num1 = str(num1)

In [51]:
type(num1)

type

In [52]:
str(True)

'True'

In [53]:
num_4 = '89'
type(num_4)

str

In [55]:
type(int(num_4))  # gecici olarak data tipini degistirdik

int

In [56]:
num_4 = int(num_4) # atama yaparak kalici olarak degistirdik
type(num_4)

int

In [ ]:
num_5 = '3.5'
int(num_5) # ERROR 
# Eger string bir datayi integer cevirmek istiyorsak, datanin sadece sayilardan olusmasi gerekir, 
# integera benzemesi gerekir

ValueError: invalid literal for int() with base 10: '3.5'

In [62]:
int(float(num_5)) # gecici bir degisiklik yaptik

3

In [63]:
type(num_5)

str

# to boolean

pythonda truthy ve falsy dedigimiz ifadeler vardir. 
# falsy olanlar 
falsy demek bool degeri false demek 
- 0 
- null 
- ''
- ()
- []
- {}
- ""
- False
- None 
- Set()

# Truthy olanlarda bunlarin disinda kalanlarin tamamidir.

In [64]:
x = 78
bool(x)

True

In [65]:
bool(0)

False

In [66]:
bool('')

False

In [67]:
bool('False')

True

In [68]:
bool(False)

False

In [69]:
bool(' ') # space bir karakterdir

True

In [70]:
bool(1)

True

In [71]:
int(True)

1

In [72]:
int(False)

0

In [73]:
bool()

False

In [74]:
true # kucuk harf ile baslamaz , buyuk harf ile baslar

NameError: name 'true' is not defined

In [75]:
True

True

# str to float

In [77]:
float('7abc8.90') #  floata benzemeli , bu calismaz

ValueError: could not convert string to float: '7abc8.90'

# Aritmetik Operations

In [80]:
6 + 7

13

In [81]:
8 - 4

4

In [84]:
9 / 3
# division -> bolme isareti kullanildiginda sonuc her zaman float olur.

3.0

In [83]:
5 * 4

20

In [85]:
32 / 3

10.666666666666666

In [89]:
int(32 / 3 )

10

In [87]:
32 // 3
## // -> floor division -> yani bolumu tam verir , kusurat vermez

10

In [88]:
# modulus -> kalan islemi verir
# % percentage -> yuzde 
32 % 3

2

# Islem onceligi 
python islem onceligini tanir 
- Parantezler ()
- Üs alma **
- Çarpma, Bölme  *, / 
- Toplama, Çıkarma +, -

In [90]:
# exponentiation -> us alma islemi 
2 ** 3

8

In [91]:
25 ** 0.5

5.0

In [92]:
pow(25, 0.5) # kare koku almak icin

5.0

In [93]:
# kup kok almak icin 
pow(27, 1/3)

3.0

In [95]:
5 ** 2 # pep8 kuralina gore aralarda bosluk birakmak kodun okunabilirligini artiriyor.

25

In [ ]:
5,2

(5, 2)

In [104]:
25 ** 0,5

(1, 5)

In [105]:
36 ** 0.5,987

(6.0, 987)

In [102]:
25 ** 0.5, 7

(5.0, 7)

In [108]:
# 102 tl para var . tanesi 12 liradan kac tane kalem alabiliriz . 
# Sonrasinda uzerine kac para kalir? 

102 // 12

8

In [109]:
102 % 12

6

In [111]:
pow(5,2) # 5 in karesini aliyorum 
#pow -> power , uslu sayilar icin

25

In [113]:
pow(25, 0.5) # 25 in kokunu almis olduk

5.0

In [ ]:
question = (3 + 4) ** (4 * 3 / (8 - 2))    
question

In [117]:
# yaricapi 7 olan bir dairenin alinini bulan python kodunu yazin 
# degisken tanimlayarak cozunuz 

pi = 3.14 
r = 7
area = pi * (r ** 2)
print('Dairenin alani ', area)

Dairenin alani  153.86

In [116]:
import math
r = 7
area = math.pi * (r ** 2)
area

153.93804002589985

In [118]:

pi = 3.14 
r = 7
area = pi * (r ** 2)
r = 20
print('Dairenin alani ', area)

Dairenin alani  153.86

In [119]:

pi = 3.14 
r = 7
area = pi * (r ** 2)
r = 20
area = pi * (r ** 2)
print('Dairenin alani ', area)
# kodlar yukaridan asagi , soldan saga dogru okundugu icin.

Dairenin alani  1256.0

In [123]:
pi = 3.14 
r = 7
area = pi * (r ** 2)
print('Dairenin alani ', int(area))

Dairenin alani  153

In [121]:
pi = 3.14 
r = 7
area = int(pi * (r ** 2))
print('Dairenin alani ', area)

Dairenin alani  153

In [125]:
pi = 3 
r = 7
area = pi * (r ** 2)
print('Dairenin alani ', area)

Dairenin alani  147

In [128]:
# bir kenari 5 diger kenari 12 olan dik ucgenin hipotenusu bulan kodlari yazin 
side_1 = 5 
side_2 = 12 
hipotenus = (side_1 ** 2 + side_2 ** 2 ) ** (0.5)
print('Kenar uzunluklari 5 ve 12 olan ucgenin Hipotenusu : ' , hipotenus)

Kenar uzunluklari 5 ve 12 olan ucgenin Hipotenusu :  13.0

In [130]:
math.sqrt(25) # kok almak icin sqrt fonksiyonu kullanilabilir

5.0

In [142]:
# int e cevirmek icin datanin int e benzemesi gerek 
type('7.90') # str 
# int('7.90') # error 
float('7.90') # calisir 


# floata cevirmek icin floata benzemeli 
type('67abx')
# float('67abx') # error 
float('9.56')

# stringe integer , float , boolean  data cevrilebilir 
x  = 98.34
type(x)
str(x)
type(str(x))
type(x) # kalici degisiklik yapilmadi . 


# kalici degisiklik olmasi icin , atama yapilmasi gereklidir, 
# degilse gecici olarak tip degisikligi yapilmis olur 
x = str(x)
type(x) # bu sekilde kalici bir degisiklik yaptik data tipinde

str