# Homework Control

In [1]:
print('Jessica','age',sep='//')
print('69', 35, sep='++', end='-->')
print('the end')

Jessica//age
69++35-->the end

In [ ]:
print('a',    'b',      'c' )

a b c

In [4]:
print('a  ','b')

a   b

In [ ]:
print('Laptop,' 'Computer,' 'Phone', sep='--')

#print fonksiyonu , elemanlarin aralarinda virgul olmadiginda, elemanlari merge eder yani birlestirir, concat.

Laptop,Computer,Phone

In [10]:
print('Laptop', 'Computer', 'Phone', sep='**')
# sep in default degeri bir space dir , yani bosluktur

Laptop**Computer**Phone

In [5]:
print('adana''bursa''ceylan')

adanabursaceylan

In [6]:
print('adana','bursa','ceylan')

adana bursa ceylan

In [12]:
print('a','b',end='_')
print('c')
# birince printte sep in default degeri degistirilmemis, yani a ile b arasina bosluk gelecek. 
# end parametresi ise _ olarak duzenlenmis, varsayilan degeri degistigi icin artik yeni satira gecmez ve 
# yanindan devam eder , alt tireden sonra boylelikle hemen c konulabilir

a b_c

In [13]:
print('a', "b", '''c''' , sep='-',end='%')
print('_')

a-b-c%_

In [16]:
print(''' merhaba 
      dunya''')

 merhaba
      dunya

In [18]:
# Kullanicidan celcius bilgisini alin ve fahrenheit a cevirin 
# Fahrenheit (°F) = (Temperature in degrees Celsius (°C) * 9/5) + 32

celcius = float(input('Please enter the temperature in degrees celcius'))
fahrenheit = celcius * (9/5) + 32
print(f'Celcius is : {celcius} , fahrenheit is : {fahrenheit}')

Celcius is : 5.0 , fahrenheit is : 41.0

In [ ]:
age = input('Enter your age')
2024 - age 
# 24 girersek cikti ne olur  # hata verir

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [20]:
z = 8.9999999 
z = int(z) 
print(z)

8

In [21]:
z = 8.999
z = float(int(z))
z

8.0

In [22]:
x = (24 / 2) - (2 ** (1 * 8 / 2) / 2)
x

4.0

# Comparison Operasons -> karsilastirma operatorleri

- Buyuktur >
- <
- Buyuk esittir >=
- <=
- ==
- !=

In [24]:
5 > 9

False

In [25]:
6 > 3

True

In [26]:
9 >= 3

True

In [27]:
5 <= 8

True

In [28]:
5 <= 2

False

In [29]:
7 == 7

True

In [37]:
'5' == 5

False

In [35]:
'ahmet' > 5
# string ile integer yada float kiyaslamasi yapilmaz

TypeError: '>' not supported between instances of 'str' and 'int'

In [38]:
5 != 8

True

In [ ]:
5 == 5 # 5 esit midir 5 e -> evet esittir , true

True

In [41]:
5 != 5 # 5 esit degil midir 5 e , -> hayir esittir , false 
# 5 esit degil midir 8 e ?

False

In [45]:
password = 8978
user_password = float(input('Please enter your password'))
password == user_password 

# int ve float ikiside numeric datalar oldugundan aralarinda kiyaslama yapilabilir

False

In [46]:
6 > 8.9

False

In [48]:
6 > 3.9 # int ve float oldugu icin kiyaslama yapildi

True

In [49]:
-20 < 90

True

In [51]:
True > 9 # True nun matematiksel karsiligi 1 dir, 1> 9 hayir

False

In [ ]:
False > 5.9 # 0 > 5.9 HAYIR

In [55]:
'jane' > 'clark' # stringler kendi aralarinda kiyaslanabilir 
# ascii tabledaki valuelerine gore kiyaslanirlar

True

In [54]:
106 > 99

True

In [57]:
'isa' > 'istanbul'
# 97 > 116

False

In [ ]:
'Isa' > 'istanbul'

In [58]:
# ASCII valuesunu almak icin ord fonksiyonu kullanilabilir 
ord('a')

97

In [59]:
ord('I')

73

In [60]:
ord('i')

105

In [ ]:
ord('ç') # turkce karakterlerinde ornegin ascii valueleri elbette mevcuttur fakat ascii tablosunda belirli bir 
# yere kadar olan karakterlerin valueleri gorunur. bunlardan baskada degerler mevcuttur 
# . turkce karakterler ascii tablosunda olmasada aslinda degerleri vardir.

231

In [61]:
# ascii valusini verip karakterin kendini alabiliriz. 
chr(100)

'd'

In [62]:
chr(73)

'I'

In [63]:
chr(156)

'\x9c'

# Truthy ve Falsy Degerler

In [ ]:
# 0, 0.0,'',[],(),{},None,False # falsy degerler

In [66]:
bool(0.000000001)

True

In [67]:
bool(9999876)

True

In [68]:
bool('False')

True

# Logical Expression 
- not -> boolean dondurur
- and -> mukemmelliyetci -> perfectionalist
- or -> iyimser -> optimistic
- 
-> oncelik siralamalarida bu sekilde

# not

In [72]:
# not -> boolean dondurur

In [69]:
not True

False

In [70]:
not False

True

In [71]:
not 8

False

In [73]:
not 0

True

In [74]:
not ''

True

In [75]:
not True == False

True

In [ ]:
not True = False  #ERROR

SyntaxError: cannot assign to expression (1477933248.py, line 1)

In [78]:
'ahmet' ='mehmet' # ERROR

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1105456551.py, line 1)

# and 
- eger False bir deger gorurse direk dondurur, eger false deger goremezse sona kadar aramaya devam eder, 
eger false deger bulamazsa en sondaki true degerin kendisini dondurur.

In [79]:
6 and 15

15

In [80]:
5 and 8 and 9

9

In [81]:
4 and 0 and 7

0

In [82]:
5 and False and 0 and 8

False

In [83]:
'' and 0 and False

''

# or

In [84]:
0 or ''

''

In [85]:
False or [] or 0.0 or {}

{}

In [87]:
0 or '' or 'adana' or ()

'adana'

In [ ]:
0 or '' or [] or 'Isparta'

In [88]:
8 and 0 or False

False

In [89]:
True and 0 or False or 45 and 3

3

In [90]:
False or (False and 'Melisa' or not '' and (0 or 0.1))

0.1

In [91]:
False or not 0 and 6 and 'Gesi Baglari'

'Gesi Baglari'

In [92]:
True or False and not 0 and 3 or False

True

In [93]:
# Butun sartlarin ayni anda dogru olmasina ihtiyac oldugu zamanlarda and kulllanilirken, 
# sartlardan bir tanesi bile dogru olsa yetecek oldugu durumlarda or kullanilir.

In [ ]:
not not 5 or 0 and False or 6 and 10.5 and 0

In [96]:
# kutlesi(kg) ve hizini(m/s) kullanicidan aldiginiz bir cismin kinetik enerjisini hesaplayiniz
# ke = 1/2 * m * v2
kg = float(input('Lutfen kutleyi giriniz kg cinsinden'))
v = float(input('Lutfen hizini giriniz. m/s cinsinden'))
kinetik_enerji = kg * (1/2) * v ** 2
print(f'Kutlesi {kg}, hizi {v} olan cismin kinetik enerjisi {kinetik_enerji} joule\'dir')

Kutlesi 60.0, hizi 100.0 olan cismin kinetik enerjisi 300000.0 joule'dir